 <script>const inSession = "{{{inSession}}}";
 </script>
 <script src='/javascripts/main.js'></script>
<div id="wrapper">
  <div id="anotherwrapper">
      <img id="headerimg" src="hellothere.jpg" alt="hello there">
    <div id="chat">
        <div id="messagebox">
            <div id="message-inner-box">
                <ul id="messages">
                    <li><b>server</b>: Welcome!!</li>
                </ul>
            </div>
        </div>
        <div id="online">
            <p>Online:</p>
            <ul id="people">
                <li><p>Carol Chen</p></li>
                {{#each onlines as |online|}}
                <li id="{{onlineUser}}"><p>{{onlineUser}}</p></li>
                {{/each}}
            </ul>
        </div>
        <div id="textbox">
            <form action="">
                <input id="m" autocomplete="off" type="text" name="chat" value="">
            </form>
        </div>
        <div id="options">
            <a href="/gameroom">gameroom</a>
            <a href="/leaderboard">leaderboard</a>
            <a href="/logout">logout</a>
        </div>
    </div>
  </div>
</div>
