<div id="wrapper">
	<div id="error">
	<h1 style="padding-bottom: 5px">Uh oh!</h1>
	<div id='errmsg'>{{message}}</div>
  <br>
  <a href='/login'>login</a> | <a href='/register'>register</a>
	</div>
</div>
