<script>const inSession = "{{{inSession}}}";
</script>
<script src='/javascripts/gameroom.js'></script>
<div id="wrapper">
  <div id="game">
    <div id="heading">
      <a href="/chat"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
      <a href="/leaderboard"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
      <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
    </div>
    <div class="start">
        <h1 style="padding-bottom: 8px">Reversi!</h1>
        <form method="POST" action="">
            <fieldset>
                <label for="width">width (between 4 and 15):</label><input type="text" id="width" value="" style="width: 50px"><br>
                <label for="color">color (X or O):</label><input type="text" id="color" value="" style="width: 50px"><br>
            </fieldset>
            <br>
            <input class="playBtn" type="submit" style="width: 100px">
        </form>
    </div>
  </div>
</div>
<script src="javascripts/reversi.js"></script>
<script src="javascripts/reversiGame.js"></script>
