<div id="wrapper">
  <div id="game">
    <a href="/">go back to main chat</a> | <a href="/logout">logout</a><br>
    <div class="start">
        <h1 style="padding-bottom: 8px">Reversi!</h1>
        <form method="POST" action="">
            <fieldset>
                <label for="width">width (between 4 and 26):</label><input type="text" id="width" value="" style="width: 50px"><br>
                <label for="color">color (X or O):</label><input type="text" id="color" value="" style="width: 50px"><br>
            </fieldset>
            <br>
            <input class="playBtn" type="submit" style="width: 100px">
        </form>
    </div>
  </div>
</div>
<script src="javascripts/reversi.js"></script>
<script src="javascripts/reversiGame.js"></script>
