<h1>Login</h1>
<form method="POST" action="/login">
	Username: <input type="text" name="username" value="">
	Password: <input type="text" name="password" value="">
	<input type="submit">
</form>
<br>
<a href='/'>go back home</a>
