<h1>Register</h1>
<form method="POST" action="/register">
	Username: <input type="text" name="username" value="">
	Password: <input type="text" name="password" value="">
	<input type="submit">
</form>
